@model StoryWebsite.Models.CreateViewModel;

@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!-- statement below required to use Razor TagHelpers -->
@{
    ViewData["Title"] = "Create";
}
<h2>Create Story</h2>

<hr />
@Html.AntiForgeryToken()
<div>
    @if (SignInManager.IsSignedIn(User))
    {
        @Html.ValidationSummary(true)
        <div asp-validation-summary="All" class="text-danger"></div>
        <div>
            <form asp-controller="story" asp-action="create" enctype="multipart/form-data" method="post">
                <spacer-10></spacer-10>
                <table>
                    <tr>
                        <td><label asp-for="story.title"></label></td>
                        <td>
                            <input asp-for="story.title" />
                            @Html.ValidationMessageFor(model => model.story.title)
                            <span asp-validation-for="story.title" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td><label asp-for="story.content"></label></td>
                        <td>
                            <input asp-for="story.content" />
                            @Html.ValidationMessageFor(model => model.story.content)
                        </td>
                    </tr>
                    <tr>
                        <td><label asp-for="coverImage"></label></td>
                        <td>
                            <input type="file" asp-for="coverImage" accept=".jpg, .jpeg, .png" />
                            @Html.ValidationMessageFor(model => model.coverImage)
                        </td>
                    </tr>
                    <tr>
                        <td><label asp-for="story.category.categoryName"></label></td>
                        <td>
                            <input asp-for="story.category.categoryName" />
                            @Html.ValidationMessageFor(model => model.story.category.categoryName)
                        </td>
                    </tr>
                </table>
                <spacer-25></spacer-25>
                <input type="submit" value="Create" class="btn btn-green" />
            </form>
        </div>
    }
    else
    {
        <spacer-25></spacer-25>
        <p style="font-weight:bold;">Please <a asp-area="Identity" asp-page="/Account/Login">log in</a> first to create a story.</p>
        <spacer-25></spacer-25>
    }
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}