@model StoryWebsite.Models.Story;

@{
    ViewData["Title"] = "Details";
}

<img src="@Href(Model.url)" alt="@Model.title" class="img-disp">
<div class="detail-info">
    <div class="story-info">
        <div class="detail-title">Story Info</div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.title)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.title)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.author)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.author.userName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.content)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.content)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.category)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.category.categoryName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.createTime)
            </dt>
            <dd>
                @*@Html.DisplayFor(model => model.createTime)*@
                @Html.ValueFor(model => model.createTime, "{0:dd MMM yyyy}")
            </dd>
        </dl>
    </div>
    <div class="comments">
        <div class="comment-title">Comments</div>
        <hr />

        @foreach (var cm in Model.comments)
        {
            <div class="comments-row">
                <div class="avatar-column">
                    <img alt="Avatar" src="@Href(cm.author.avatarURL)">
                </div>
                <div class="comment-column">
                    <p> @cm.content </p>
                    <div class="comment-meta">
                        <span class="comment-author"> @cm.author.userName </span>
                        <span class="comment-date"> @Html.ValueFor(model => cm.postTime, "{0:dd MMM yyyy}") </span>
                    </div>
                </div>
            </div>
            <hr />
        }
    </div>
</div>

