@model StoryWebsite.ViewModels.StoryIndexViewModel;

@{
    ViewData["Title"] = "Index";
}

<div class="gallery-ctg">Newest</div>
@foreach (var story in Model.StoryCollection)
{
    <a asp-controller="story" asp-action="details" asp-route-id ="@story.storyID">
        <div class="gallery">
            <img src="@Href(story.url)" alt="@story.title">
            <div class="figure-caption">
                <div class="gallery-title">@story.title</div>
                <div class="gallery-desc">@story.content</div>
            </div>
        </div>
    </a>
}

